html {
Â Â Â -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
Â Â Â width: 100%;
Â Â Â height: auto;
}
img{
	max-width:100%;
	height: auto;
Â Â Â 	width: auto\9; /* ie8 */
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	nav{width:100%;}
	header, nav, .featured {width:768px;}
}

@media only screen and (max-width: 767px) {
	header {margin-top: 0px;width:100%;height:140px;}
	header #search{bottom:10px; top:auto; right:5px;}
	.featured{width:100%;}
	nav {width:100%;background:none;height:auto;}
	nav ul li {float: none;background:#400000;text-align:center;padding-bottom:0px;margin-top:5px;}
	nav ul li a{margin-bottom : 0px;}
	#content{background-color:#FFE599;}
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}