
		body {
    background-image: url(./image/rainbow_cake.jpg);
    background-size: cover;
    background-position:center;
	height:800px;
	position:relative; 
	text-align:center; 
	opacity:0.8;
	z-index:2px;
} 
h1{
font-family:Averia Sans Libre, cursive;
color:aqua;
text-align:center;
font-size:30px;}	
p{font-family:Averia Sans Libre, cursive;
color:green;
text-align:center;
font-size:20px;}

}
.sidebar-image-gallery img { 
border-radius: 50%;
width:410px;
margin-top:20px;
opacity: .7; 
}
.sidebar-image-gallery img { 
border-radius: 50%;
opacity: .8; 
}
.sidebar-image-gallery img:hover { opacity: 1; }
	